    <!-- Footer -->
    <footer class="fill-midnight dark contain" id="footer">
		<div class="limiter">
		      <div class="pad2y clearfix">
		        <div class="space-bottom1 col12  clearfix footer-links">
		          <div class="col3 pad4x hide-mobile">
                            <img src="/ybs2023/img/logo-foot.png" width="98" height="170">
		          </div>
		          <nav class="col3 pad2">
		            <a href="{{site.baseurl}}/program/" class="animate quiet block">Program</a>
                    <a href="https://forms.gle/F4fpWYJPxUn31Uhs5" class="animate quiet block">Tickets</a>
		            <a href="{{site.baseurl}}/venue/" class="animate quiet block">Venue</a>
		          </nav>
		          <nav class="col3 pad2">
		            <a href="https://www.facebook.com/groups/2923232317707849" class="animate quiet block"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a>
		          </nav>
		          <nav class="col3 pad2">
		            <img src="img/all_logo.png">
		          </nav>
		        </div>
		      </div>
		          <div class="center">
     				   <p class="small quiet">Copyright &copy; {{ site.footer }} 20{{ site.time | date: '%y' }} - <a href="mailto:info.ymbd@gmail.com" class="animate quiet"><i class="fa fa-envelope-o" aria-hidden="true"></i> info.ymbd@gmail.com</a></p>
   				</div>
		    </div>
    </footer>

