    <!-- Map Section -->
 <section id="map-container">
 <div id="map"></div>
 </section>
<script>
    const map = L.map('map').setView([23.8664,90.3145], 15);

    L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    const LeafIcon = L.Icon.extend({
        options: {
            shadowUrl: 'img/marker_shadows.png',
            iconSize:     [35, 70],
            shadowSize:   [50, 64],
            iconAnchor:   [22, 94],
            shadowAnchor: [9, 83],
            popupAnchor:  [-3, -76]
        }
    });

    const greenIcon = new LeafIcon({iconUrl: 'img/marker.png'});

    const mGreen = L.marker([23.86635, 90.31427], {icon: greenIcon}).bindPopup('Eastern University').addTo(map);
    

</script>
 
