<!-- <section id="thanks" class="fill-light center">
  <div class="limiter pad8y clearfix">
    <div class="col8 margin2 margin2r">
      <h1 class="center space-bottom4 dark">What's Going On!</h1>

      <p class="dark varela"><a href="https://forms.gle/TYiqoiB4SVgpPZue9">  <img src="img/cop.jpg"> </a></p>
      <p class="dark varela"><a href="https://www.facebook.com/photo/?fbid=6773030919430105&set=gm.7123747404322965&idorvanity=2923232317707849">  <img src="img/po.jpg"> </a></p>
    </div>
  </div>
</section> -->
